.sub-container {
    padding: 50px;
    display: grid;
    grid-row-gap: 50px;
    grid-template-columns: auto;
}

.about-me {
    opacity: 1;
}

.skills {
    opacity: 1;
}

.projects {
    opacity: 1;
}

.links {
    opacity: 1;
}