@font-face {
    font-family: "Lato";
    src: url("./fonts/Lato-Regular.ttf");
}

@font-face {
    font-family: "Lato-Bold";
    src: url("./fonts/Lato-Bold.ttf");
}

@font-face {
    font-family: "Lato-Thin";
    src: url("./fonts/Lato-Thin.ttf");
}

body {
    font-family: "Lato";
    background-color: #2E1C2B;
    color: #eaeaea;
    overflow: hidden;
}

.glow {
    position: absolute;
    width: 100vh;
    height: 100vh;
    border-radius: 50%;
    pointer-events: none;
    background: radial-gradient(circle, #4A1942 0%, transparent 70%);
    transform: translate(-50%, -50%);
    mix-blend-mode: color-dodge;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.layout {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
}

@media (min-width:768px) {
    .layout {
        width: 70%;
        padding: 40px;
    }
}

h1 {
    font-family: "Lato";
    font-size: 4vh;
    text-shadow: 0px 5px 4px #050404;
}

h2 {
    font-family: "Lato-Thin";
    font-size: 2vh;
    text-align: justify;
    text-justify: inter-word;
}

.about {
    background-color: #0077b5;
}

.skills {
    background-color: #2dba4e;
}

.projects {
    background-color: #e34f26;
}

.header {
    width: 100%;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr auto;
    column-gap: 2vh;
}

.about .logos {
    margin-right: 1vh;
}

.skills .header {
    grid-template-columns: auto 1fr;
}

.skills h1 {
    text-align: right;
}

.logos {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: min-content;
    gap: 2vh;
    text-shadow: 0px 5px 4px #050404;
}

.logos i {
    will-change: transform, opacity;
    transform: translateX(0);
    height: 3vh;
    width: 3vh;
    font-size: 4vh;
}

.fa-linkedin,
.fa-github,
.fa-envelope,
.fa-python,
.devicon-c-plain,
.devicon-csharp-plain,
.devicon-cplusplus-plain,
.fa-html5,
.fa-css3-alt,
.fa-js,
.fa-php
 {
    color: white;
    transition: color .2s ease-in-out;
}

.devicon-cplusplus-plain {
    padding-right: .5vh;
}

.fa-github:hover,
.fa-github.hover {
    color: #2dba4e;
}

.fa-linkedin:hover,
.fa-linkedin.hover {
    color: #0077b5;
}

.fa-python:hover,
.fa-python.hover {
    color: #ffde57;
}

.devicon-c-plain:hover,
.devicon-c-plain.hover {
    color: #03599c;
}

.devicon-csharp-plain:hover,
.devicon-csharp-plain.hover {
    color: #68217a;
}

.devicon-cplusplus-plain:hover,
.devicon-cplusplus-plain.hover {
    color: #004482;
}

.fa-html5:hover, 
.fa-html5.hover {
    color: #e34f26;
}

.fa-css3-alt:hover,
.fa-css3-alt.hover {
    color: #264de4;
}

.fa-js:hover,
.fa-js.hover {
    color: #f7df1e;
}

.fa-php:hover, 
.fa-php.hover {
    color: #ac5cd9;
}

@keyframes bounce {
    0% {
        transform: scale(1.15, 0.85);
    }
    20% {
        transform: scale(1, 1);
    }
    40% {
        transform: scale(0.85, 1.15) translateY(-1.25vh);
    }
    60% {
        transform: scale(1, 1);
    }
    80% {
        transform: scale(1, 1) translateY(-0.5vh);
    }
    100% {
        transform: scale(1, 1) translateY(0);
    }
}
  
.bounce {
    animation: bounce 0.7s ease-in-out;
    will-change: transform;
    backface-visibility: hidden;
}

@keyframes fadeFromRight {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.fade-from-right {
    opacity: 0;
    animation: fadeFromRight 0.5s forwards;
}

@keyframes fadeFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.fade-from-left {
    opacity: 0;
    animation: fadeFromLeft 0.5s forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.fade-in {
    opacity: 0;
    animation: fadeIn 0.5s ease-in-out forwards;
}